:root {
	--VertNature: #4CAF50;
	--OrangeVitaminé: #FF9800;
	--BlancPur: #FFFFFF;
	--GrisDoux: #9E9E9E;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	height: 40vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
}

#logo-container {
	height: 80%;
	width: 90%;
	object-fit: cover;
}
#logo-container > img {
	height: 100%;
	width: 100%;
}
nav {
	width: 90%;
	height: 20%;
	display: flex;
	font-weight: bold;
}
ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

ul > li:hover {
	text-decoration: underline;
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20vh;
}

/* TODO: chercher google font */
/* h2 {
	font-family: "Montserrat";
} */

#input-container {
	width: 100%;
	min-height: 30vh;
	max-height: fit-content;
	margin: 10vh 0;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

article {
	width: 90%;
	padding: 0;
	margin: 0;
}

input,
select {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
}
button {
	background-color: orange;
	border-radius: 25px;
	padding: 10px;
	color: white;
}
#flex-div {
	display: flex;
	flex-direction: row;
	width: 90%;
	gap: 10px;
}
#flex-div > input {
	height: 100%;
	border: 1px solid black;
}

#recipe-container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
}
.recipe-div {
	background-color: var(--OrangeVitaminé);
	color: var(--BlancPur);
	width: 80%;
	height: fit-content;
	display: flex;
	flex-direction: column-reverse;
	gap: 30px;
	align-items: center;
	object-fit: cover;
	font-weight: bold;
	font-size: 20px;
	border-radius: 20px;
	padding-bottom: 30px;
	box-shadow: 1px 1px 5px;
}
.recipe-div > img {
	height: 100%;
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
